{% extends 'base.html' %}

{% load i18n microsocial %}


{% block content %}
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <h1 class="text-center">{% trans 'восстановление пароля'|capfirst %}</h1>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% show_form_field_errors field.errors 'col-sm-offset-4 col-sm-8' %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label for="{{ field.id_for_label }}" class="control-label col-sm-4">
                            {{ field.label|capfirst }}:
                        </label>
                        <div class="col-sm-8">
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <input type="submit" class="btn btn-primary"
                               value="{% trans 'сохранить'|capfirst %}">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}