{% load static i18n %}
<div class="row">
    <div class="col-xs-4">
        <a href="{% url 'main' %}"><img class="img-responsive" src="{% static 'microsocial2/img/logo.png' %}"></a>
    </div>
    <div class="col-xs-6">
        {% if user.is_authenticated %}
            <p style="margin-top: 32px; font-size: 16px;">
                <a href="#" style="margin-right: 10px;">
                    {% trans 'новости'|capfirst %}</a>
                <a href="{% url 'user_profile' user.pk %}" style="margin-right: 10px;">
                    {% trans 'мой профиль'|capfirst %}</a>
                <a href="{% url 'user_friends' %}" style="margin-right: 10px;">
                    {% trans 'друзья'|capfirst %}</a>
                <a href="{% url 'messages' %}" style="margin-right: 10px;">
                    {% trans 'сообщения'|capfirst %}</a>
                <a href="{% url 'user_search' %}" style="margin-right: 10px;">
                    {% trans 'поиск людей'|capfirst %}</a>
            </p>
        {% endif %}
    </div>
    <div class="col-xs-2 text-right">
        <form action="{% url 'set_language' %}" method="post">
            <input type="hidden" name="next" value="{{ redirect_to }}">
            <input type="hidden" id="set_lang_code" name="language" value="">
        </form>
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <a href="#" title="{{ language.name_local }}"
               {% if language.code == LANGUAGE_CODE %}style="font-weight: bold;"{% endif %}
               onclick="$('#set_lang_code').val('{{ language.code }}').closest('form').submit(); return false;">
                {{ language.code }}</a>
        {% endfor %}

        {% if user.is_authenticated %}
            <p style="margin-top: 10px;">
                <a href="{% url 'logout' %}">{% trans 'выход'|capfirst %}</a>
            </p>
        {% endif %}
    </div>
</div>